# 準備

In [2]:
import pandas as pd
from mplsoccer import Sblocal

pd.set_option("display.max_columns", 100)

In [3]:
sb_parser = Sblocal(dataframe=True)

# Competition

In [4]:
competition_df = sb_parser.competition(path="../input/open-data/data/competitions.json")

print(competition_df.columns)
print(competition_df.shape)
competition_df.head()

Index(['competition_id', 'season_id', 'country_name', 'competition_name',
       'competition_gender', 'competition_youth', 'competition_international',
       'season_name', 'match_updated', 'match_updated_360',
       'match_available_360', 'match_available'],
      dtype='object')
(71, 12)

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2023-12-12T07:43:33.436182,None,None,2023-12-12T07:43:33.436182
1,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-02-14T05:41:27.566989,None,None,2024-02-14T05:41:27.566989
2,16,4,Europe,Champions League,male,False,False,2018/2019,2023-03-07T12:20:48.118250,2021-06-13T16:17:31.694,None,2023-03-07T12:20:48.118250
3,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
4,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [5]:
competition_df[
    (competition_df["competition_name"]=="FIFA World Cup")&
    (competition_df["competition_gender"]=="male")&
    (competition_df["season_name"]=="2022")
]

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
27,43,106,International,FIFA World Cup,male,False,True,2022,2023-11-05T04:23:26.649917,2023-11-21T15:37:11.589616,2023-11-21T15:37:11.589616,2023-11-05T04:23:26.649917

# Match

In [6]:
match_df = sb_parser.match(path="../input/open-data/data/matches/43/106.json")

print(match_df.columns)
print(match_df.shape)
match_df.head()

Index(['match_id', 'match_date', 'kick_off', 'home_score', 'away_score',
       'match_status', 'match_status_360', 'last_updated', 'last_updated_360',
       'match_week', 'competition_id', 'country_name', 'competition_name',
       'season_id', 'season_name', 'home_team_id', 'home_team_name',
       'home_team_gender', 'home_team_group', 'home_team_country_id',
       'home_team_country_name', 'home_team_managers_id',
       'home_team_managers_name', 'home_team_managers_nickname',
       'home_team_managers_dob', 'home_team_managers_country_id',
       'home_team_managers_country_name', 'away_team_id', 'away_team_name',
       'away_team_gender', 'away_team_group', 'away_team_country_id',
       'away_team_country_name', 'away_team_managers_id',
       'away_team_managers_name', 'away_team_managers_nickname',
       'away_team_managers_dob', 'away_team_managers_country_id',
       'away_team_managers_country_name', 'metadata_data_version',
       'metadata_shot_fidelity_version', 'metadata_xy_fidelity_version',
       'competition_stage_id', 'competition_stage_name', 'stadium_id',
       'stadium_name', 'stadium_country_id', 'stadium_country_name',
       'referee_id', 'referee_name', 'referee_country_id',
       'referee_country_name'],
      dtype='object')
(64, 52)

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,competition_id,country_name,competition_name,season_id,season_name,home_team_id,home_team_name,home_team_gender,home_team_group,home_team_country_id,home_team_country_name,home_team_managers_id,home_team_managers_name,home_team_managers_nickname,home_team_managers_dob,home_team_managers_country_id,home_team_managers_country_name,away_team_id,away_team_name,away_team_gender,away_team_group,away_team_country_id,away_team_country_name,away_team_managers_id,away_team_managers_name,away_team_managers_nickname,away_team_managers_dob,away_team_managers_country_id,away_team_managers_country_name,metadata_data_version,metadata_shot_fidelity_version,metadata_xy_fidelity_version,competition_stage_id,competition_stage_name,stadium_id,stadium_name,stadium_country_id,stadium_country_name,referee_id,referee_name,referee_country_id,referee_country_name
0,3857256,2022-12-02,2022-12-02 21:00:00,2,3,available,available,2023-02-17 23:45:15.306706,2023-04-26 23:49:58.956186,3,43,International,FIFA World Cup,106,2022,786,Serbia,male,G,203,Serbia,5908,Dragan Stojković,Dragan Stojković,1965-03-03,203,Serbia,773,Switzerland,male,G,221,Switzerland,2832,Murat Yakin,Murat Yakin,1974-09-15,221,Switzerland,1.1.0,2,2,10,Group Stage,1001115,Stadium 974,185,Qatar,1121.0,Fernando Andrés Rapallini,11.0,Argentina
1,3869151,2022-12-03,2022-12-03 21:00:00,2,1,available,available,2023-07-30 07:46:05.382784,2023-07-30 07:48:51.865595,4,43,International,FIFA World Cup,106,2022,779,Argentina,male,None,11,Argentina,5677,Lionel Sebastián Scaloni,Lionel Sebastián Scaloni,1978-05-16,11,Argentina,792,Australia,male,None,14,Australia,5696,Graham James Arnold,Graham James Arnold,1963-08-03,14,Australia,1.1.0,2,2,33,Round of 16,1000793,Ahmad bin Ali Stadium,185,Qatar,367.0,Szymon Marciniak,182.0,Poland
2,3857257,2022-11-30,2022-11-30 17:00:00,1,0,available,available,2023-04-28 17:13:10.958725,2023-06-20 11:04:37.638969,3,43,International,FIFA World Cup,106,2022,792,Australia,male,D,14,Australia,5696,Graham James Arnold,Graham James Arnold,1963-08-03,14,Australia,776,Denmark,male,D,61,Denmark,255,Kasper Hjulmand,Kasper Hjulmand,1972-04-09,61,Denmark,1.1.0,2,2,10,Group Stage,117897,Al Janoub Stadium,185,Qatar,2311.0,Mustapha Ghorbal,4.0,Algeria
3,3857258,2022-11-24,2022-11-24 21:00:00,2,0,available,available,2023-06-24 17:17:27.911026,2023-07-11 14:56:31.096588,1,43,International,FIFA World Cup,106,2022,781,Brazil,male,G,31,Brazil,4704,Telê Santana da Silva,Telê Santana,1931-07-26,31,Brazil,786,Serbia,male,G,203,Serbia,5908,Dragan Stojković,Dragan Stojković,1965-03-03,203,Serbia,1.1.0,2,2,10,Group Stage,1001114,Lusail Stadium,185,Qatar,741.0,Alireza Faghani,107.0,"Iran, Islamic Republic of"
4,3857288,2022-11-26,2022-11-26 12:00:00,0,1,available,available,2023-02-28 21:25:20.888552,2023-04-27 00:30:07.835815,2,43,International,FIFA World Cup,106,2022,777,Tunisia,male,D,232,Tunisia,1001303,Jalel Kadri,Jalel Kadri,NaT,232,Tunisia,792,Australia,male,D,14,Australia,5696,Graham James Arnold,Graham James Arnold,1963-08-03,14,Australia,1.1.0,2,2,10,Group Stage,117897,Al Janoub Stadium,185,Qatar,225.0,Daniel Siebert,85.0,Germany

In [7]:
match_df[
    (match_df["home_team_name"]=="Japan")|
    (match_df["away_team_name"]=="Japan")
]

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,competition_id,country_name,competition_name,season_id,season_name,home_team_id,home_team_name,home_team_gender,home_team_group,home_team_country_id,home_team_country_name,home_team_managers_id,home_team_managers_name,home_team_managers_nickname,home_team_managers_dob,home_team_managers_country_id,home_team_managers_country_name,away_team_id,away_team_name,away_team_gender,away_team_group,away_team_country_id,away_team_country_name,away_team_managers_id,away_team_managers_name,away_team_managers_nickname,away_team_managers_dob,away_team_managers_country_id,away_team_managers_country_name,metadata_data_version,metadata_shot_fidelity_version,metadata_xy_fidelity_version,competition_stage_id,competition_stage_name,stadium_id,stadium_name,stadium_country_id,stadium_country_name,referee_id,referee_name,referee_country_id,referee_country_name
24,3869219,2022-12-05,2022-12-05 17:00:00,1,1,available,available,2023-03-18 12:56:12.567784,2023-06-21 16:56:21.929024,4,43,International,FIFA World Cup,106,2022,778,Japan,male,None,114,Japan,5699,Hajime Moriyasu,Hajime Moriyasu,1968-08-23,114,Japan,785,Croatia,male,None,56,Croatia,307,Zlatko Dalić,Zlatko Dalić,1966-10-26,56,Croatia,1.1.0,2,2,33,Round of 16,117897,Al Janoub Stadium,185,Qatar,438.0,Ismail Elfath,241.0,United States of America
31,3857295,2022-11-27,2022-11-27 12:00:00,0,1,available,available,2023-06-18 15:29:02.960922,2023-06-20 11:17:33.935113,2,43,International,FIFA World Cup,106,2022,778,Japan,male,E,114,Japan,5699,Hajime Moriyasu,Hajime Moriyasu,1968-08-23,114,Japan,795,Costa Rica,male,E,54,Costa Rica,3094,Luis Fernando Suárez Guzman,Luis Fernando Suárez,1959-12-23,49,Colombia,1.1.0,2,2,10,Group Stage,1000793,Ahmad bin Ali Stadium,185,Qatar,1.0,Michael Oliver,68.0,England
33,3857284,2022-11-23,2022-11-23 15:00:00,1,2,available,available,2023-03-18 22:38:08.361625,2023-04-27 00:40:34.335400,1,43,International,FIFA World Cup,106,2022,770,Germany,male,E,85,Germany,3371,Hans-Dieter Flick,Hans-Dieter Flick,1965-02-24,85,Germany,778,Japan,male,E,114,Japan,5699,Hajime Moriyasu,Hajime Moriyasu,1968-08-23,114,Japan,1.1.0,2,2,10,Group Stage,1000253,Sheikh Khalifa International Stadium,185,Qatar,1834.0,Ivan Arcides Barton Cisneros,67.0,El Salvador
62,3857255,2022-12-01,2022-12-01 21:00:00,2,1,available,available,2023-03-30 12:03:47.965683,2023-04-26 23:51:48.352990,3,43,International,FIFA World Cup,106,2022,778,Japan,male,E,114,Japan,5699,Hajime Moriyasu,Hajime Moriyasu,1968-08-23,114,Japan,772,Spain,male,E,214,Spain,793,Luis Enrique Martínez García,Luis Enrique,1970-05-08,214,Spain,1.1.0,2,2,10,Group Stage,1000253,Sheikh Khalifa International Stadium,185,Qatar,2366.0,Victor Miguel de Freitas Gomes,211.0,South Africa

# Lineup

In [8]:
lineup_df = sb_parser.lineup(path="../input/open-data/data/lineups/3869219.json")

print(lineup_df.columns)
print(lineup_df.shape)
lineup_df

Index(['player_id', 'player_name', 'player_nickname', 'jersey_number',
       'match_id', 'team_id', 'team_name', 'country_id', 'country_name'],
      dtype='object')
(48, 9)

,player_id,player_name,player_nickname,jersey_number,match_id,team_id,team_name,country_id,country_name
0,3175,Eiji Kawashima,Eiji Kawashima,1,3869219,778,Japan,114,Japan
1,3300,Maya Yoshida,Maya Yoshida,22,3869219,778,Japan,114,Japan
2,3530,Hiroki Sakai,Hiroki Sakai,19,3869219,778,Japan,114,Japan
3,5690,Yuto Nagatomo,Yuto Nagatomo,5,3869219,778,Japan,114,Japan
4,5693,Gaku Shibasaki,Gaku Shibasaki,7,3869219,778,Japan,114,Japan
5,8361,Ritsu Doan,Ritsu Doan,8,3869219,778,Japan,114,Japan
6,8776,Takumi Minamino,Takumi Minamino,10,3869219,778,Japan,114,Japan
7,8949,Takuma Asano,Takuma Asano,18,3869219,778,Japan,114,Japan
8,9411,Daichi Kamada,Daichi Kamada,15,3869219,778,Japan,114,Japan
9,23527,Junya Ito,Junya Ito,14,3869219,778,Japan,114,Japan
10,23721,Wataru Endo,Wataru Endo,6,3869219,778,Japan,114,Japan
11,23730,Takehiro Tomiyasu,Takehiro Tomiyasu,16,3869219,778,Japan,114,Japan
12,25719,Shūichi Gonda,Shūichi Gonda,12,3869219,778,Japan,114,Japan
13,29366,Daniel Schmidt,Daniel Schmidt,23,3869219,778,Japan,114,Japan
14,30628,Daizen Maeda,Daizen Maeda,25,3869219,778,Japan,114,Japan
15,37122,Yuki Soma,Yuki Soma,24,3869219,778,Japan,114,Japan
16,37208,Ao Tanaka,Ao Tanaka,17,3869219,778,Japan,114,Japan
17,37209,Miki Yamane,Miki Yamane,2,3869219,778,Japan,114,Japan
18,37211,Kaoru Mitoma,Kaoru Mitoma,9,3869219,778,Japan,114,Japan
19,37215,Shogo Taniguchi,Shogo Taniguchi,3,3869219,778,Japan,114,Japan
20,37221,Hidemasa Morita,Hidemasa Morita,13,3869219,778,Japan,114,Japan
21,38285,Ayase Ueda,Ayase Ueda,21,3869219,778,Japan,114,Japan
22,95272,Hiroki Ito,Hiroki Ito,26,3869219,778,Japan,114,Japan
23,100436,Shuto Machino,Shuto Machino,20,3869219,778,Japan,114,Japan
24,3441,Nikola Vlašić,Nikola Vlašić,13,3869219,785,Croatia,56,Croatia
25,3471,Dejan Lovren,Dejan Lovren,6,3869219,785,Croatia,56,Croatia
26,5456,Mateo Kovačić,Mateo Kovačić,8,3869219,785,Croatia,56,Croatia
27,5460,Andrej Kramarić,Andrej Kramarić,9,3869219,785,Croatia,56,Croatia
28,5463,Luka Modrić,Luka Modrić,10,3869219,785,Croatia,56,Croatia
29,5468,Domagoj Vida,Domagoj Vida,21,3869219,785,Croatia,56,Croatia
30,5469,Marcelo Brozović,Marcelo Brozović,11,3869219,785,Croatia,56,Croatia
31,5474,Ivan Perišić,Ivan Perišić,4,3869219,785,Croatia,56,Croatia
32,7693,Bruno Petković,Bruno Petković,16,3869219,785,Croatia,56,Croatia
33,8654,Ante Budimir,Ante Budimir,17,3869219,785,Croatia,56,Croatia
34,11127,Borna Barišić,Borna Barišić,3,3869219,785,Croatia,56,Croatia
35,11603,Mario Pašalić,Mario Pašalić,15,3869219,785,Croatia,56,Croatia
36,16527,Mislav Oršić,Mislav Oršić,18,3869219,785,Croatia,56,Croatia
37,16531,Dominik Livaković,Dominik Livaković,1,3869219,785,Croatia,56,Croatia
38,22041,Marko Livaja,Marko Livaja,14,3869219,785,Croatia,56,Croatia
39,28835,Ivica Ivušić,Ivica Ivušić,23,3869219,785,Croatia,56,Croatia
40,28914,Lovro Majer,Lovro Majer,7,3869219,785,Croatia,56,Croatia
41,29163,Josip Juranović,Josip Juranović,22,3869219,785,Croatia,56,Croatia
42,29342,Ivo Grbić,Ivo Grbić,12,3869219,785,Croatia,56,Croatia
43,32602,Kristijan Jakić,Kristijan Jakić,26,3869219,785,Croatia,56,Croatia
44,32689,Martin Erlić,Martin Erlić,5,3869219,785,Croatia,56,Croatia
45,33018,Joško Gvardiol,Joško Gvardiol,20,3869219,785,Croatia,56,Croatia
46,37148,Josip Šutalo,Josip Šutalo,24,3869219,785,Croatia,56,Croatia
47,39490,Luka Sučić,Luka Sučić,25,3869219,785,Croatia,56,Croatia

# Event

In [9]:
event_df, related_df, freeze_df, tactics_df = sb_parser.event(path="../input/open-data/data/events/3869219.json")

## Event-event

In [10]:
print(event_df.columns)
print(event_df.shape)
event_df.head()

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'possession',
       'duration', 'match_id', 'type_id', 'type_name', 'possession_team_id',
       'possession_team_name', 'play_pattern_id', 'play_pattern_name',
       'team_id', 'team_name', 'tactics_formation', 'player_id', 'player_name',
       'position_id', 'position_name', 'pass_recipient_id',
       'pass_recipient_name', 'pass_length', 'pass_angle', 'pass_height_id',
       'pass_height_name', 'end_x', 'end_y', 'body_part_id', 'body_part_name',
       'sub_type_id', 'sub_type_name', 'x', 'y', 'under_pressure',
       'aerial_won', 'pass_cross', 'outcome_id', 'outcome_name',
       'ball_recovery_recovery_failure', 'foul_won_defensive', 'pass_switch',
       'out', 'pass_assisted_shot_id', 'pass_shot_assist', 'shot_statsbomb_xg',
       'end_z', 'shot_key_pass_id', 'technique_id', 'technique_name',
       'goalkeeper_position_id', 'goalkeeper_position_name', 'off_camera',
       'counterpress', 'dribble_overrun', 'shot_one_on_one', 'pass_no_touch',
       'foul_committed_offensive', 'pass_deflected', 'block_deflection',
       'shot_first_time', 'pass_goal_assist', 'substitution_replacement_id',
       'substitution_replacement_name', 'pass_cut_back',
       'injury_stoppage_in_chain', 'foul_committed_card_id',
       'foul_committed_card_name'],
      dtype='object')
(4559, 70)

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,type_name,possession_team_id,possession_team_name,play_pattern_id,play_pattern_name,team_id,team_name,tactics_formation,player_id,player_name,position_id,position_name,pass_recipient_id,pass_recipient_name,pass_length,pass_angle,pass_height_id,pass_height_name,end_x,end_y,body_part_id,body_part_name,sub_type_id,sub_type_name,x,y,under_pressure,aerial_won,pass_cross,outcome_id,outcome_name,ball_recovery_recovery_failure,foul_won_defensive,pass_switch,out,pass_assisted_shot_id,pass_shot_assist,shot_statsbomb_xg,end_z,shot_key_pass_id,technique_id,technique_name,goalkeeper_position_id,goalkeeper_position_name,off_camera,counterpress,dribble_overrun,shot_one_on_one,pass_no_touch,foul_committed_offensive,pass_deflected,block_deflection,shot_first_time,pass_goal_assist,substitution_replacement_id,substitution_replacement_name,pass_cut_back,injury_stoppage_in_chain,foul_committed_card_id,foul_committed_card_name
0,c28d2905-359f-4bff-898e-0788e72b8841,1,1,00:00:00,0,0,1,0.000000,3869219,35,Starting XI,778,Japan,1,Regular Play,778,Japan,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8062c817-3bf0-4655-abb2-6ab5d1f7bf02,2,1,00:00:00,0,0,1,0.000000,3869219,35,Starting XI,778,Japan,1,Regular Play,785,Croatia,433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fa7ec4c4-e3c0-4a50-b368-79428b8ff77a,3,1,00:00:00,0,0,1,0.000000,3869219,18,Half Start,778,Japan,1,Regular Play,778,Japan,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d0889877-e264-4c98-b57c-d36e064e69da,4,1,00:00:00,0,0,1,0.000000,3869219,18,Half Start,778,Japan,1,Regular Play,785,Croatia,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1ba21952-fd29-464e-ab1c-1de5b067a458,5,1,00:00:00.324000,0,0,2,1.962297,3869219,30,Pass,785,Croatia,9,From Kick Off,785,Croatia,None,5460.0,Andrej Kramarić,17.0,Right Wing,3471.0,Dejan Lovren,27.085236,2.933336,1.0,Ground Pass,34.5,45.7,40.0,Right Foot,65.0,Kick Off,61.0,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pd.crosstab(event_df["type_name"], event_df["team_name"])

team_name          Croatia  Japan
type_name
50/50                    2      2
Ball Receipt           710    529
Ball Recovery           62     70
Block                   34     31
Carry                  575    401
Clearance               43     34
Dispossessed             9     11
Dribble                  5     14
Dribbled Past           10      3
Duel                    41     51
Error                    0      1
Foul Committed          16     13
Foul Won                13     15
Goal Keeper             20     25
Half End                 5      5
Half Start               5      5
Injury Stoppage          4      5
Interception            10     21
Miscontrol              21     16
Pass                   796    582
Player Off               0      1
Player On                0      1
Pressure               150    133
Referee Ball-Drop        1      2
Shield                   1      0
Shot                    21     17
Starting XI              1      1
Substitution             6      5
Tactical Shift           2      2

## Event-related

In [12]:
print(related_df.columns)
print(related_df.shape)
related_df.head()

Index(['match_id', 'id', 'index', 'type_name', 'id_related', 'index_related',
       'type_name_related'],
      dtype='object')
(8338, 7)

,match_id,id,index,type_name,id_related,index_related,type_name_related
0,3869219,fa7ec4c4-e3c0-4a50-b368-79428b8ff77a,3,Half Start,d0889877-e264-4c98-b57c-d36e064e69da,4,Half Start
1,3869219,d0889877-e264-4c98-b57c-d36e064e69da,4,Half Start,fa7ec4c4-e3c0-4a50-b368-79428b8ff77a,3,Half Start
2,3869219,1ba21952-fd29-464e-ab1c-1de5b067a458,5,Pass,0cf64a1d-18ec-473b-9593-61cd280004b6,6,Ball Receipt
3,3869219,0cf64a1d-18ec-473b-9593-61cd280004b6,6,Ball Receipt,1ba21952-fd29-464e-ab1c-1de5b067a458,5,Pass
4,3869219,c14f021a-e295-44ef-80cf-6cdc545ab0d5,7,Carry,0cf64a1d-18ec-473b-9593-61cd280004b6,6,Ball Receipt

In [13]:
pd.crosstab(related_df["type_name"], related_df["type_name_related"])

type_name_related,50/50,Ball Receipt,Ball Recovery,Block,Carry,Clearance,Dispossessed,Dribble,Dribbled Past,Duel,Foul Committed,Foul Won,Goal Keeper,Half End,Half Start,Interception,Miscontrol,Pass,Player Off,Player On,Pressure,Shield,Shot
type_name,,,,,,,,,,,,,,,,,,,,,,,
50/50,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ball Receipt,0,0,0,0,843,0,0,0,0,0,0,0,0,0,0,0,0,1239,0,0,75,0,0
Ball Recovery,0,0,0,0,106,0,0,0,0,0,0,0,0,0,0,0,0,42,0,0,19,0,0
Block,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,41,0,0,0,0,11
Carry,0,843,106,3,0,0,20,31,15,5,6,10,3,0,0,7,23,889,0,0,216,0,13
Clearance,0,0,0,0,0,0,0,0,0,21,0,0,0,0,0,0,0,53,0,0,3,0,0
Dispossessed,0,0,0,0,20,0,0,0,0,20,0,0,0,0,0,0,0,0,0,0,9,0,0
Dribble,0,0,0,0,31,0,0,0,13,6,0,0,0,0,0,0,0,0,0,0,7,0,0
Dribbled Past,0,0,0,0,15,0,0,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Duel,0,0,0,0,5,21,20,6,0,0,0,0,0,0,0,0,2,40,0,0,0,0,3
Foul Committed,0,0,0,0,6,0,0,0,0,0,0,28,0,0,0,0,0,0,0,0,0,0,0
Foul Won,0,0,0,0,10,0,0,0,0,0,28,0,0,0,0,0,0,0,0,0,7,0,0
Goal Keeper,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0,0,38
Half End,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0
Half Start,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0
Interception,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,30,0,0,0,0,0
Miscontrol,0,0,0,0,23,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,16,0,0
Pass,0,1239,42,41,889,53,0,0,0,40,0,0,7,0,0,30,0,152,0,0,155,0,0
Player Off,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
Player On,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
Pressure,0,75,19,0,216,3,9,7,0,0,0,7,0,0,0,0,16,155,0,0,2,1,3
Shield,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Shot,0,0,0,11,13,0,0,0,0,3,0,0,38,0,0,0,0,0,0,0,3,0,0

In [14]:
print(freeze_df.columns)
print(freeze_df.shape)
freeze_df.head()

Index(['teammate', 'match_id', 'id', 'x', 'y', 'player_id', 'player_name',
       'position_id', 'position_name', 'event_freeze_id'],
      dtype='object')
(446, 10)

,teammate,match_id,id,x,y,player_id,player_name,position_id,position_name,event_freeze_id
0,False,3869219,3e282518-80cc-4cba-a8bf-f978a3bdc68b,118.8,39.6,16531,Dominik Livaković,1,Goalkeeper,1
1,False,3869219,3e282518-80cc-4cba-a8bf-f978a3bdc68b,110.7,45.0,5474,Ivan Perišić,21,Left Wing,2
2,False,3869219,3e282518-80cc-4cba-a8bf-f978a3bdc68b,113.2,40.0,3471,Dejan Lovren,3,Right Center Back,3
3,False,3869219,3e282518-80cc-4cba-a8bf-f978a3bdc68b,113.3,35.9,29163,Josip Juranović,2,Right Back,4
4,False,3869219,3e282518-80cc-4cba-a8bf-f978a3bdc68b,108.3,43.2,11127,Borna Barišić,6,Left Back,5

In [15]:
pd.DataFrame(freeze_df.groupby(["player_id", "player_name"])["id"].count()).sort_values(by="id", ascending=False)

                             id
player_id player_name
5469      Marcelo Brozović   25
23721     Wataru Endo        24
23730     Takehiro Tomiyasu  23
23527     Junya Ito          23
37221     Hidemasa Morita    21
3300      Maya Yoshida       20
37215     Shogo Taniguchi    18
25719     Shūichi Gonda      18
5456      Mateo Kovačić      18
11127     Borna Barišić      17
29163     Josip Juranović    17
5474      Ivan Perišić       16
3471      Dejan Lovren       16
9411      Daichi Kamada      15
33018     Joško Gvardiol     15
5463      Luka Modrić        15
8361      Ritsu Doan         15
16531     Dominik Livaković  13
5460      Andrej Kramarić    13
37211     Kaoru Mitoma       13
11603     Mario Pašalić      10
5690      Yuto Nagatomo      10
30628     Daizen Maeda       10
8654      Ante Budimir       10
8776      Takumi Minamino     8
8949      Takuma Asano        8
7693      Bruno Petković      8
3441      Nikola Vlašić       8
3530      Hiroki Sakai        7
28914     Lovro Majer         5
37208     Ao Tanaka           3
22041     Marko Livaja        2
16527     Mislav Oršić        2

In [16]:
pd.DataFrame(freeze_df.groupby("id")[["player_id"]].count().value_counts()).sort_index()

           count
player_id
1              1
9              1
10             2
11             2
12             1
13             1
14             3
15             5
16             6
17             6
18             3

In [17]:
print(tactics_df.columns)
print(tactics_df.shape)
tactics_df.head()

Index(['jersey_number', 'match_id', 'id', 'player_id', 'player_name',
       'position_id', 'position_name', 'event_tactics_id'],
      dtype='object')
(66, 8)

,jersey_number,match_id,id,player_id,player_name,position_id,position_name,event_tactics_id
0,12,3869219,c28d2905-359f-4bff-898e-0788e72b8841,25719,Shūichi Gonda,1,Goalkeeper,1
1,16,3869219,c28d2905-359f-4bff-898e-0788e72b8841,23730,Takehiro Tomiyasu,3,Right Center Back,2
2,22,3869219,c28d2905-359f-4bff-898e-0788e72b8841,3300,Maya Yoshida,4,Center Back,3
3,3,3869219,c28d2905-359f-4bff-898e-0788e72b8841,37215,Shogo Taniguchi,5,Left Center Back,4
4,14,3869219,c28d2905-359f-4bff-898e-0788e72b8841,23527,Junya Ito,7,Right Wing Back,5

In [18]:
pd.DataFrame(tactics_df.groupby("id")["player_id"].count())

                                      player_id
id
21597ce1-761c-4a48-9ede-f06299d749f9         11
304dda92-fc01-49a9-b184-51cce7440bcb         11
8062c817-3bf0-4655-abb2-6ab5d1f7bf02         11
8538e208-4d65-4e9a-96e3-2f71304cda6a         11
c28d2905-359f-4bff-898e-0788e72b8841         11
f263f747-1873-4c95-a28e-a33bb3391d72         11

# Frame

In [19]:
frames_df, visible_df = sb_parser.frame(path="../input/open-data/data/three-sixty/3869219.json")

## Frame-frame

In [20]:
print(frames_df.columns)
print(frames_df.shape)
frames_df.head()

Index(['teammate', 'actor', 'keeper', 'match_id', 'id', 'x', 'y'], dtype='object')
(58270, 7)

,teammate,actor,keeper,match_id,id,x,y
0,True,False,False,3869219,1ba21952-fd29-464e-ab1c-1de5b067a458,47.899534,14.890119
1,True,False,False,3869219,1ba21952-fd29-464e-ab1c-1de5b067a458,50.119835,35.537936
2,True,False,False,3869219,1ba21952-fd29-464e-ab1c-1de5b067a458,52.060930,45.563418
3,True,False,False,3869219,1ba21952-fd29-464e-ab1c-1de5b067a458,52.498809,57.201374
4,True,False,False,3869219,1ba21952-fd29-464e-ab1c-1de5b067a458,59.704961,18.896921

In [24]:
pd.DataFrame(frames_df.groupby("id")["match_id"].count().value_counts())

          count
match_id
16          463
15          451
14          402
17          400
13          373
18          344
12          332
19          312
11          233
10          160
20          146
9           118
8            98
7            78
6            56
5            45
21           25
4            24
2            14
3             8
1             7

In [22]:
print(visible_df.columns)
print(visible_df.shape)
visible_df.head()

Index(['match_id', 'id', 'visible_area'], dtype='object')
(4089, 3)

,match_id,id,visible_area
0,3869219,1ba21952-fd29-464e-ab1c-1de5b067a458,"[24.6058391541244, 80.0, 44.6647664195803, 8.3..."
1,3869219,0cf64a1d-18ec-473b-9593-61cd280004b6,"[14.9981430424541, 80.0, 39.5708959333648, 8.7..."
2,3869219,c14f021a-e295-44ef-80cf-6cdc545ab0d5,"[14.9981430424541, 80.0, 39.5708959333648, 8.7..."
3,3869219,af0efa1b-a646-441a-8311-e89cbf515fcc,"[11.4723843388591, 80.0, 37.5213943503887, 8.5..."
4,3869219,a2b1cffd-0aa8-4d2b-abf7-4ac28aeffacd,"[73.4271905251666, 80.0, 66.8375955822834, 11...."

In [27]:
pd.DataFrame(visible_df["visible_area"].apply(lambda x: len(x) if isinstance(x, list) else 0).value_counts())

              count
visible_area
10             2004
12             1467
14              618